<!DOCTYPE html>

<head>
    <!------<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style.css">
    -->
    <title>Elec .Solar.Inverter Solutions | Home</title>
    <!---- <img src ="download.jpg" alt = "download.jpg"> -->
</head>

<body>
    <div id="content" , name="content">
        { % block content % }
        {% endblock % }
    </div>

</body>

</html>